<h2>Delete a Poll</h2>

<div class="classCenter">
{{# each showPoll }}
    <form action="/deletePollForm" method="POST">
        <input type="text" name="theQuestion" value="{{this._id}}" style="display:none"/>
        <input class="displayInputForm" type="submit" value="{{this.question}}"/>
    </form>
{{/each}}
</div>
