<p>Welcome, this is a basic Voting Application.</p>

<p>You can sign up to make an account and create your very own polls. You data is stores using the database mongoDB.</p>

<p>This app is deployed using Heroku Service.</p>
