<html>
<head>
   <link rel="stylesheet" href="mycss.css">
</head>
<body>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/polls">POLLS</a></li>
        <li><a href="/mypolls">MY POLLS</a></li>
        <li style="float:right"><a href="/logout">LOG OUT</a></li>
    </ul>
    <h1 style="clear:both">Free Code Camp - Voting App</h1>

{{{body}}}

<footer>By David Huynh <br/>
    Github:https://github.com/Dvdhyh/votingapp<br/>
    Heroku:https://ffc-votingapp.herokuapp.com/
</footer>
</body>
</html>
