<h2>Sign up Form</h2>

<form action="/registerForm" method="POST">
    <input type="text" name="username" placeholder="username"/><br/>
    <input type="text" name="password" placeholder="password"/><br/>
    <input type="submit" value="Submit"/>
</form>
