<h2>Sign up Form</h2>


<form action="/registerForm" method="POST">
    <input type="text" name="username" placeholder="username" required/>
    <input type="text" name="password" placeholder="password" required/><br/>
    <input type="text" name="userFullName" placeholder="Name"/>
    <input type="text" name="userCity" placeholder="City"/>
    <input type="text" name="userState" placeholder="State"/><br/>
    <input type="submit" value="Submit"/>
</form>
