<h2>My Settings</h2>

<form action="/profileForm" method="POST">
    <input type="text" name="userFullName" value="{{userDetails.userFullName}}" placeholder="Name"/>
    <input type="text" name="userCity" value="{{userDetails.userCity}}" placeholder="City"/>
    <input type="text" name="userState" value="{{userDetails.userState}}" placeholder="State"/>
    <input type="submit" value="Update"/>
</form>
