<h2>Add a image to my imagelist</h2>

<div class="classCenter">
<form action="/addImageForm" method="post">
    <input type="text" name="theTitle" placeholder="Title"/><br/>
    <input type="text" name="theImage" placeholder="URL"/><br/>
    <input type="text" name="thePostedUser" style="display:none"/><br/>
    <input type="submit" value="Submit"/>
</form>
</div>
