<h2>Sign up Form</h2>
<form action="/twitterRegisterForm" method="POST">
    <input type="text" name="username" placeholder="username" value="{{hbsVar}}" required/>
    <input type="text" name="password" placeholder="password" value="1234509876" style="display:none" required/>
    <input type="submit" value="Submit"/>
</form>
